.slider > div {
    display: flex;
}
@media(min-width:760px) {
    .slider > div {
        justify-content: space-between;
        align-items: center;
    }
}
@media(max-width:759px) {
    .slider > div {
        flex-direction: column;
    }
    .slider > div > a {
        margin-bottom: 25px;
    }
}
@media(min-width:1600px) {
    .slider > div {
        width: 1462px;
    }
}
@media(min-width:1100px) and (max-width:1599px) {
    .slider > div {
        width: 1060px;
    }
}
@media(min-width:760px) and (max-width:1099px) {
    .slider > div {
        width: 710px;
    }
}
