@media(min-width:1100px) {
    .interactives {
        margin: 140px auto;
        width: 960px;
    }
}
@media(min-width:760px) and (max-width:1099px) {
    .interactives {
        margin: 100px auto;
        width: 754px;
    }
}
@media(max-width:759px) {
    .interactives {
        margin: 60px auto;
        width: 348px;
    }
}
