.ask-form {
    display: flex;
    flex-direction: column;

}
.ask-form > input::placeholder {
    color: #D1D1D3;
}
.ask-form > input:focus {
    border-bottom: 1px solid var(--red-gradient);
}
.ask-form > input {
    border-bottom: 1px solid var(--font);
    border-left: none;
    border-top: none;
    border-right: none;

    outline: none;
    transition: border-bottom .3s ease-in-out;
}
.ask-form-submit {
    border: none;
    outline: none;
    color: white;
    background-color: var(--red);
    transition: background-color .3s;
}
.ask-form-submit:hover {
    background-color: var(--red-gradient);
}
@media(min-width:760px) {
    .ask-form {
        padding: 20px;
        width: 300px;
        width: 415px;
    }
    .ask-form > input {
        padding: 15px 20px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .ask-form > p {
        margin: 0 0 12px 0;
        text-transform: uppercase;
        font-size: 18px;
    }
    .ask-form-submit {
        padding: 20px 0;
        margin-top: 26px;
        border-radius: 3px;
    }
}
@media(max-width:759px) {
    .ask-form {
        padding: 20px;
        width: 300px;
        width: 90%;
    }
    .ask-form > input {
        padding: 12px 18px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .ask-form > p {
        margin: 0 0 12px 0;
        text-transform: uppercase;
        font-size: 16px;
    }
    .ask-form-submit {
        padding: 20px 0;
        margin-top: 26px;
        border-radius: 3px;
    }
}